[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '{{ kafka_home }}/bin/kafka-server-start.sh {{ kafka_home }}/config/server.properties > {{ kafka_home }}/kafka.log 2>&1'
ExecStop={{ kafka_home }}/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
